
*{
    margin: 0;
    padding: 0;
    margin: 0 auto;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    
}

header{
    text-align: center;
    width: 1200px;
    height: 40px;
    background-color: rgb(255, 43, 43);
    color: black;
    font-size: 24px;
    border: none;
    border: 1px solid black;
    display: flex;    
}
aside{
    margin-left: 70px;
    width: 400px;
    height: 500px;
    border: none;
    border: 1px solid black;
    
}
.container{
    margin-left: 18px;
    margin-top: 15px;
}
main{
    width: 1200px;
    height: 500px;
    display: flex;
    margin-top: 20px;
}
.caja{
    background-color: rgb(173, 159, 140);
    border: none;
    width: 160px;
    border-radius: 10px;
    height: 35px;
    padding-left: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}
.caja2{
    background-color: rgb(173, 159, 140);
    border: none;
    width: 160px;
    border-radius: 10px;
    height: 35px;
    padding-left: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}

a{
 text-decoration: none;    
}
td{
    color: rgb(71, 148, 216);
    border: 1px solid rgb(71, 148, 216); 
}
.icono1{
    font-size: 24px;
    color: red;
}
.icono2{
    font-size: 24px;
    color: green;
}
#centro{
    margin-top: -500px;
    margin-left: 500px;
}
section{
    width: 700px;
}
.boton{
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 200px;
    width: 150px;
    height: 35px;
    background-color: black;
    color: white;
    border: 1px double white;
    cursor: pointer;
}